
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: 'avenir-next-lt-pro-regular';
        font-weight: Medium;
        font-style:normal;
        src: url("fonts/Avenir-NextLTPro-Regular.woff") format('woff');
    }
    
    @font-face {
      font-family: 'avenir-next-lt-pro-bold';
      font-weight: bold;
      font-style:normal;
      src: url("fonts/AvenirNextLTPro-Bold.woff") format('woff');
    }
    
    @font-face {
        font-family: 'unbounded-medium';
        font-weight: medium;
        src: url("fonts/Unbounded-Medium.woff") format('woff');
    }
    @font-face {
      font-family: 'unbounded-bold';
      font-weight: bold;
      font-style:normal;
      src: url("fonts/Unbounded-Bold.woff") format('woff');
    }
}


@import 'attention_seekers/zoomIn.css';
@import 'attention_seekers/bounce.css';
@import 'attention_seekers/flash.css';
@import 'attention_seekers/pulse.css';
@import 'attention_seekers/rubberBand.css';
@import 'attention_seekers/shake.css';
@import 'attention_seekers/headShake.css';
@import 'attention_seekers/swing.css';
@import 'attention_seekers/tada.css';
@import 'attention_seekers/wobble.css';
@import 'attention_seekers/jello.css';
@import 'attention_seekers/heartBeat.css';



